body {
    font-family: "SoDo Sans SemiBold", sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 100px;
    padding: 0 0 0 20px; /* Optional padding for header content */
}

.logo{
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px; /* Adjust as needed */
}

a{
    text-decoration: none;
    color: black;
}

nav strong{
    font-weight: 800;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color: black;
}

.right-section{
    display: flex;
    align-items: center;
}

.right-section strong{
    padding-left: 5px;
    font-size: 15px;
}

.right-section, span{
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: 100%;
    box-sizing: inherit;
}

.right-section span a img{
    padding-top: 5px;
    padding-right: 5px;
}

.right-section .header-button1 {
    margin-left: 10px;
    padding: 5px 15px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    background-color: #ffffff; /* Green color, change as needed */
    color: rgb(0, 0, 0);
    border: solid 1px black;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

.right-section .header-button2 {
    margin-left: 10px;
    padding: 5px 15px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    background-color: #000000; /* Green color, change as needed */
    color: rgb(0, 0, 0);
    border: solid 1px black;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 600;
}

.header-button2 a{
    color: #ffffff;
}

.header-button1:hover {
    transition: 0.3s;
    background-color: #bebebe70;
}

.header-button2:hover {
    transition: 0.3s;
    background-color: #4e4e4e;
}

.complex{
    margin: 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    background:#ffffff;
    padding-top: 31px;
    padding-bottom: 31px;
}

.complex .img_1 img{
    width: 675px;
    display: flex;
}

.text-box{
    width: 595px;
    padding: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 514px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #cfd84d;
}

.frst_sec{
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #1e3932;
    background: #cfd84d;
}

.frst_sec h1{
    padding-bottom: 20px;
}

.frst_sec h1, h6{
    margin: 0;
}

.complex-all{
    margin: 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    background:#ffffff;
    padding-bottom: 31px;
}

.complex-all .img_2 img{
    width: 675px;
    display: flex;
}

.text-box2{
    width: 595px;
    padding: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 514px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #a5c4dc;
}

.second_sec{
    height: 260px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #1e3932;
    background: #a5c4dc;
}

.second_sec h1{
    padding-bottom: 30px;
}

.second_sec h1, h6{
    margin: 0;
}

.second_sec h6{
    font-weight: lighter;
}

.complex-all .img_3 img{
    width: 675px;
    display: flex;
}

.text-box3{
    width: 595px;
    padding: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #006241;
}

.third_sec{
    height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #ffffff;
    background: #006241;
}

.third_sec p{
    font-size: 20px;
    padding-bottom: 35px;
}

.third_sec h5{
    padding-bottom: 30px;
}

.third_sec h6{
    font-size: 20px;
    font-weight: lighter;
}

.third_sec h5, p, h6{
    margin: 0;
}

.complex-all .img_4 img{
    width: 675px;
    display: flex;
    padding-right: 115px;
}

.text-box4{
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 215px;
    display: flex;
    align-items: center;
    background:#006241;
}

.f_sec{
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #ffffff;
    background: #006241;
}

.f_sec h4{
    padding-bottom: 30px;
}

.f_sec h4, p{
    margin: 0;
    font-size: 20px;
}

.f_sec p{
    font-weight: lighter;
}

.complex-all .img_5 img{
    width: 675px;
    display: flex;
}

.text-box5{
    width: 595px;
    padding: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 322px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #cfd84d;
}

.five_sec{
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #1e3932;
    background: #cfd84d;
}

.five_sec h1{
    font-size: 25px;
    padding-bottom: 30px;
}

.five_sec h1, h6{
    margin: 0;
}

.five_sec h6{
    font-weight: lighter;
    font-size: 20px;
}

.complex-all .img_6 img{
    width: 675px;
    display: flex;
    padding-right: 115px;
}

.text-box6{
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    height: 322px;
    display: flex;
    align-items: center;
    background: #1e3932;
}

.s_sec{
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    text-align: center;
    color: #ffffff;
    background: #1e3932;
}

.s_sec h4{
    padding-bottom: 30px;
    font-size: 25px;
}

.s_sec h4, p{
    margin: 0;
}

.s_sec p{
    font-size: 20px;
    font-weight: lighter;
}

.start-footer{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-start-footer{
    color: black;
}

.text-start-footer p a{
    text-decoration-line: underline;
}

.text-start-footer p{
    font-size: 15px;
    font-weight: bold;
}

.first-p{
    padding-bottom: 100px;
}

.rules{
    width: 100%;
    height: 400px;
    display: flex;
    align-self: center;
}

.us-column{
    color: rgb(110, 110, 110);
    padding-right: 50px;
    padding-left: 45px;
}

.us-column a{
    color: rgb(110, 110, 110);
}

.us-column :hover{
    color: black;
}

.us-column h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.careers-column {
    color: rgb(110, 110, 110);
    padding-right: 40px;
}

.careers-column a{
    color: rgb(110, 110, 110);
}

.careers-column :hover{
    color: black;
}

.careers-column h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.social-column{
    color: rgb(110, 110, 110);
    padding-right: 50px;
}

.social-column a{
    color: rgb(110, 110, 110);
}

.social-column :hover{
    color: black;
}

.social-column h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.partners-column{
    color: rgb(110, 110, 110);
    padding-right: 50px;
}

.partners-column a{
    color: rgb(110, 110, 110);
}

.partners-column :hover{
    color: black;
}

.partners-column h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.order-column{
    color: rgb(110, 110, 110);
    padding-right: 50px;
}

.order-column a{
    color: rgb(110, 110, 110);
}

.order-column a :hover{
    color: black;
}

.order-column h3{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.icons{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.hover-1 a :hover{
    transition: 0.4s;
    overflow: hidden;
    padding: 3px;
    border-radius: 100%;
    border: solid 2px black;
}

footer .icons ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer .icons ul li{
    padding-right: 15px;
}

footer .icons ul li a img{
    width: 35px;
    height: 35px;
}

.end-foot{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.end-foot ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.end-foot ul li{
    padding-right: 20px;
}

.end-foot ul li a{
    font-weight: 600;
    font-size: 15px;
}

.end-foot ul li :hover{
    text-decoration-line: underline;
}

.company {
    color: rgb(110, 110, 110);
    padding-left: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: 600;
}
